# Ignore as pastas PHPMailer e sendgrid-php
# Ignore o arquivo enviar.php
PHPMailer
sendgrid-php
enviar-sendgrid.php
enviar.php

# Ignore toda a pasta css, EXCETO o arquivo style.css
css/*
!css/style.css